<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">
    <table>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <label for="lastName">Last name</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password" placeholder="Password">
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age" placeholder="Age">
        <label th:for="roles">Role</label>
        <select multiple th:name="myRoles" size="3" th:id="roles" required>
            <option value=""> -- </option>
            <option th:each="role : ${rolesSet}"
                    th:value="${role.getName()}"
                    th:text="${role.getName()}"/>
        </select>
        <input type="submit" value="Add User">
    </table>
</form>
</body>
</html>